html
	head
		title formulario
	body
		form(method='post')
			table(border='2')
				tr
					td(colspan='2') Ingrese sus datos
				tr       
					td Nombre
					td
						input(type='text', name='names')
						br
				tr       
					td Identificacion
					td
						input(type='text', name='id')
						br
				tr       
					td Direccion
					td
						input(type='text', name='direccion')
						br
				tr       
					td Telefono
					td
						input(type='text', name='telefono')
						br
				tr
					td(colspan='2')
						input(type='submit', value='Registrar')	
